selfhtml/xml/representation/affichage/plan_route.dtd

<!ELEMENT plan_route  (gare)>
<!ELEMENT gare   (nom,(evenement)*)>
<!ELEMENT nom      (#PCDATA)>
<!ELEMENT evenement  (depart | arrivee)>
<!ELEMENT depart   (heure,type_train,numero_train,route)>
<!ELEMENT arrivee   (heure,type_train,numero_train,route)>
<!ELEMENT heure      (#PCDATA)>
<!ELEMENT type_train    (#PCDATA)>
<!ELEMENT numero_train     (#PCDATA)>
<!ELEMENT route     (#PCDATA | demarrage | destination)*>
<!ELEMENT demarrage     (#PCDATA)>
<!ELEMENT destination      (#PCDATA)>

